.heading {
    text-align: center;
}

td {
    vertical-align: top;
}

.main-table td {
    padding: 10px;
}

.main-table {
    border-collapse: collapse;
}

.main-table td + td {
    border-left: 1px solid #ccc;
}


a {
    color: #00E;
    text-decoration: none;
}

/*访问过的a标签*/
a:visited {
    color: #00E;
}

a:hover {
    text-decoration: underline;
}
