body {
  max-width: 95ch;
  margin: auto;
  padding: 0.5em;
}

.heading,
h1 {
  text-align: center;
}

.small {
  font-size: 90%;
}

dd {
  margin: 2px 0 1em;
}

td {
  vertical-align: top;
}

.main-table td {
  padding: 10px;
}

.main-table {
  border-collapse: collapse;
}

.main-table td + td {
  border-left: 1px solid #ccc;
}

.sub-table {
  width: 100%;
  table-layout: fixed; /* ★ 非常重要 */
}

.sub-table col.left-col {
  width: 60ch; /* 控制“中间”这一列 */
}

.sub-table col.right-col {
  width: auto; /* 右边的那一列自适应 */
}

/* 推荐加：链接风格更像学术站 */
a,
a:visited {
  color: #00e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
